<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sqlserver" >
      <section name="appSettings" type="System.Configuration.NameValueFileSectionHandler" />
    </sectionGroup>
    <sectionGroup name="oracle" >
      <section name="appSettings" type="System.Configuration.NameValueFileSectionHandler" />
    </sectionGroup>
  </configSections>
  <sqlserver>
    <appSettings>
      <add key="conn" value="Data Source=localhost;INITIAL CATALOG=MID_TRANS_FC;User ID=sa;Password=sa;"/>
      <!--提取的SQL-->
    <add key="ExtractSQL" value="SELECT ID0,CASENO,MATERIALID,MATERIALNAME,PAGECONTENT,FILENO,FILENAME,FILECONTENT,UPFILETIME FROM UPFILESLIST"/>
      <!--唯一标识字段-->
    <add key="ID" value="ID0"/>
      <!--文件名字段-->
    <add key="Name" value="FILENAME"/>
      <!--文件内容字段-->
    <add key="File" value="FILECONTENT"/>
      <!--文件目录字段-->
    <add key="Group" value="CASENO"/>
    </appSettings>
  </sqlserver>
  <oracle>
    <appSettings>
      <add key="conn" value="User ID=dykj;Password=dykj;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = orcl)))"/>
      <!--提取的SQL-->
      <add key="ExtractSQL" value="SELECT  SURVEYID, SURVEYFILE,REMARK FROM SURVEYRESULT"/>
      <!--唯一标识字段-->
      <add key="ID" value="SURVEYID"/>
      <!--文件名字段-->
      <add key="Name" value="SURVEYID"/>
      <!--文件内容字段-->
      <add key="File" value="SURVEYFILE"/>
      <!--文件目录字段-->
      <add key="Group" value="SURVEYID"/>
    </appSettings>
  </oracle>
  <appSettings>
    <!--sqlserver/oracle-->
    <add key="dbType" value="sqlserver"/>
  </appSettings>
</configuration>
