<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sqlserver" >
      <section name="appSettings" type="System.Configuration.NameValueFileSectionHandler" />
    </sectionGroup>
    <sectionGroup name="oracle" >
      <section name="appSettings" type="System.Configuration.NameValueFileSectionHandler" />
    </sectionGroup>
  </configSections>
  <sqlserver>
    <appSettings>
      <add key="conn" value="Data Source=localhost;INITIAL CATALOG=MID_TRANS_FC;User ID=sa;Password=sa;"/>
      <!--提取的SQL-->
    <add key="ExtractSQL" value="SELECT ID0,CASENO,MATERIALID,MATERIALNAME,PAGECONTENT,FILENO,FILENAME,FILECONTENT,UPFILETIME FROM UPFILESLIST"/>
      <!--唯一标识字段-->
    <add key="ID" value="ID0"/>
      <!--文件名字段-->
    <add key="Name" value="FILENAME"/>
      <!--文件内容字段-->
    <add key="File" value="FILECONTENT"/>
      <!--文件目录字段-->
    <add key="Group" value="CASENO"/>
     <!--文件默认扩展名-->
      <add key="Ext" value=".jpg"/>
    </appSettings>
  </sqlserver>
  <oracle>
    <appSettings>
      <add key="conn" value="User ID=dykj;Password=dykj;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = www.eclips.cn)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = orcl)))"/>
      <!--提取的SQL-->
      <add key="ExtractSQL" value="select materblob_id,proinstmater_id,materblob_image,materblob_name  from T_MATERBLOB where rownum &lt; 10000 "/> 
      <!--唯一标识字段-->
      <add key="ID" value="materblob_id"/>
      <!--文件名字段-->
      <add key="Name" value="materblob_name"/>
      <!--文件内容字段-->
      <add key="File" value="materblob_image"/>
      <!--文件目录字段-->
      <add key="Group" value="proinstmater_id"/>
      <!--文件默认扩展名-->
      <add key="Ext" value=".tif"/>
    </appSettings>
  </oracle>
  <appSettings>
    <!--sqlserver/oracle-->
    <add key="dbType" value="oracle"/>
  </appSettings>
</configuration>